<ng-container *ngIf="dailyWeather">
    
    <section class="card-container">
        <div>
            <h2>{{ dailyWeather.time  | date:"dd/M EEE"}}</h2>
            <img width="100" height="100" [ngSrc]="iconPath" [alt]="generalWeatherDescription" priority>
            
            <p>{{ generalWeatherDescription }}</p>
        </div>
        <hgroup>
            <h3>air temperature</h3>
            <app-max-min [max]="dailyWeather.temperature2mMax" [min]="dailyWeather.temperature2mMin" [unit]="temperatureUnit"></app-max-min>
        </hgroup>
        <hgroup>
            <h3>temperature</h3>
            <app-max-min [max]="dailyWeather.apparentTemperatureMax" [min]="dailyWeather.apparentTemperatureMin" [unit]="temperatureUnit"></app-max-min>

        </hgroup>
        
    </section>

</ng-container>