.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 225px;
    gap: 15px;
    border-radius: var(--border-radius);
    padding-block-end: 16px;
    border: 1px solid rgba($color: #ffffff, $alpha: .2);
    z-index: 1;
    color: var(--color2);
    font-family: 'EduTASBeginner-SemiBold';
    font-size: 18px;
    @media (max-width: 640px) {
        width: 300px;
    }
}

.card-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .6), hsla(209, 56%, 34%, .4),rgba(23, 96, 135, .5));
    filter: blur(6px);
}

hgroup {
    position: relative;
    width: 100%;
    border-top: 2px solid rgba($color: #ffffff, $alpha: .2);
    text-align: center;
}

h3 {
    font-size: 20px;
    font-family: 'EduTASBeginner-Regular';
}

div {
    position: relative;
    text-align: center;
}

svg {
    border-radius: var(--border-radius);
}

