/* You can add global styles to this file, and also import other style files */
:root {
    --color1: #7CAFC4;
    --color2: #ffffff;
    --color3: #1D84B5;
    --color4: #53A2BE;
    --color5: #0A2239;
    
    --header-height: 60px;
    --footer-height: 50px;
    --form-height: 100px;

    --border-radius: 25px;

    --input-height: 70px;

}

@font-face {
    font-family: 'EduTASBeginner-Bold';
    src: url('assets/fonts/Edu-TAS-Beginner/EduTASBeginner-Bold.ttf');
}
@font-face {
    font-family: 'EduTASBeginner-Medium';
    src: url('assets/fonts/Edu-TAS-Beginner/EduTASBeginner-Medium.ttf');
}
@font-face {
    font-family: 'EduTASBeginner-Regular';
    src: url('assets/fonts/Edu-TAS-Beginner/EduTASBeginner-Regular.ttf');
}
@font-face {
    font-family: 'EduTASBeginner-SemiBold';
    src: url('assets/fonts/Edu-TAS-Beginner/EduTASBeginner-SemiBold.ttf');
}

body {
    padding: 0;
    margin: 0;
}

* {
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: 'EduTASBeginner-Regular';
}