<div class="min_max_container" >
    <div [ngClass]="{'skeleton': !max , 'skeleton-div': !max }">
        <span  class="temperature ">{{ max | number:'2.0-1' }} </span> <div [ngClass]="{'hide': !max}" class="circle"></div><span [ngClass]="{'hide': !max}" class="unit">{{ unit }}</span>
    </div>
     - 
    <div [ngClass]="{'skeleton': !min, 'skeleton-div': !min}">
        <span class="temperature ">{{ min | number:'2.0-1' }} </span> <div [ngClass]="{'hide': !min}" class="circle"></div><span [ngClass]="{'hide': !min}" class="unit">{{ unit }}</span>
    </div>
</div>