<form [formGroup]="form" >    
    <fieldset>
        <legend>Select temperature unit:</legend>
      
        <div>
            <label for="C">
                <input type="radio" id="C" formControlName="temperature" name="temperature" value="celsius" checked />
                <span>C</span>
            </label>
    
            <label for="F">
                <input type="radio" id="F" formControlName="temperature" name="temperature" value="fahrenheit" />
                <span>F</span>
            </label>
        </div>
    </fieldset>    
</form>

